name: Cypress Tests

on:
  workflow_dispatch:
    inputs:
      spec:
        type: choice
        description: "Select a spec to run (choose 'Run all specs' to run everything)"
        required: true
        options:
          - Run all specs
          - cypress/e2e/Launchkit/AB-Testing.cy.js
          - cypress/e2e/Launchkit/Ai-Content-Gen.cy.js
          - cypress/e2e/Launchkit/Audiences.cy.js
          - cypress/e2e/Launchkit/Dashboard.cy.js
          - cypress/e2e/Launchkit/DataDrivenLogin.cy.js
          - cypress/e2e/Launchkit/Font-Checking.cy.js
          - cypress/e2e/Launchkit/FunnelFlows.cy.js
          - cypress/e2e/Launchkit/GamingProject.cy.js
          - cypress/e2e/Launchkit/Link-Builder.cy.js
          - cypress/e2e/Launchkit/MC-Stripe.cy.js
          - cypress/e2e/Launchkit/Overview-Tab.cy.js
          - cypress/e2e/Launchkit/PayPal-Checkout.cy.js
          - cypress/e2e/Launchkit/PayPal-Oauth.cy.js
          - cypress/e2e/Launchkit/PaypalPaymentTab.cy.js
          - cypress/e2e/Launchkit/Post-Campaign.cy.js
          - cypress/e2e/Launchkit/Project-User-Access.cy.js
          - cypress/e2e/Launchkit/Roles-Permissions.cy.js
          - cypress/e2e/Launchkit/StripePaymentTab.cy.js
          - cypress/e2e/Launchkit/UsersManagement.cy.js

        default: Run all specs

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          browser: electron
          spec: ${{ github.event.inputs.spec != 'Run all specs' && github.event.inputs.spec || '' }}

      - name: Save screenshots (if any)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts
          path: cypress/screenshots
