name: Cypress Tests

on:
  workflow_dispatch:
    inputs:
      spec:
        type: choice
        description: "Select a spec to run (choose 'Run all specs' to run everything)"
        required: true
        options:
          - Run all specs
          - cypress/e2e/AB-Testing.cy.js
          - cypress/e2e/Ai-Content-Gen.cy.js
          - cypress/e2e/Audiences.cy.js
          - cypress/e2e/Dashboard.cy.js
          - cypress/e2e/DataDrivenLogin.cy.js
          - cypress/e2e/Font-Checking.cy.js
          - cypress/e2e/FunnelFlows.cy.js
          - cypress/e2e/GamingProject.cy.js
          - cypress/e2e/Link-Builder.cy.js
          - cypress/e2e/MC-Stripe.cy.js
          - cypress/e2e/Overview-Tab.cy.js
          - cypress/e2e/PayPal-Checkout.cy.js
          - cypress/e2e/PayPal-Oauth.cy.js
          - cypress/e2e/PaypalPaymentTab.cy.js
          - cypress/e2e/Post-Campaign.cy.js
          - cypress/e2e/Project-User-Access.cy.js
          - cypress/e2e/Roles-Permissions.cy.js
          - cypress/e2e/StripePaymentTab.cy.js
          - cypress/e2e/UsersManagement.cy.js

        default: Run all specs

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          browser: electron
          spec: ${{ github.event.inputs.spec != 'Run all specs' && github.event.inputs.spec || '' }}

      - name: Save screenshots (if any)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts
          path: cypress/screenshots
